// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$green-bright: #50FFB1;
$green-mint: #4FB286;
$green: #3C896D;
$green-dark: #546D64;
$green-darkest: #4D685A;
