.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.info-text {
  font-size: 12px;
  color: black;
}

.category-text {
  font-size: 12px;
  color: $green;
}


.info-text-bold {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.mtop-5 {
  margin-top: 5px;
}

.hidden {
  display: none
}

.mtop-10 {
  margin-top: 10px;
}

.mtop-20 {
  margin-top: 20px;
}

.mbot-20 {
  margin-bottom: 10px;
}

.mbot-40 {
  margin-bottom: 40px;
}

.mtop-25 {
  margin-top: 25px;
}

.mr-10 {
  margin-right: 10px;
}

.pa-20 {
  padding: 20px;
}

.pa-15 {
  padding: 15px;
}

.pa-10 {
  padding: 10px;
}

.pa-5 {
  padding: 5px;
}

.spacing-bottom {
  padding-bottom: 20px;
}

.min-height {
 min-height: calc(100vh - 97px)
}

.flex-grow {
  flex-grow: 1;
}

.width50pc {
  width: 50%;
}


.pa-0 {
  padding: 0;
}
