.image-card {
  width: 50%;
}

.tool_info {
  display: flex;
  margin: 25px auto;
  justify-content: center;
  flex-wrap: wrap;
}

.info-card {
  width: 50%;
}

.booking-card {
  display:flex;
}

.booking-card p {
  margin: auto 0;
  padding-left: 20px;
}

.delete_btn {
  margin: auto 0;
  padding-left: 10px;
  font-size: 20px;
  transition: ease 0.5s;
}

.delete_btn:hover {
  text-decoration: none;
  font-size: 23px
}
