.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto 0px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: $green-mint transparent $green-mint transparent;
  animation: lds-dual-ring 3s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  };
  100% {
    transform: rotate(360deg);
  };
};

.status-line {
  p {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.booking-container {
  background-color: white;
  padding: 2px 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.tool-card-link {
  a {
    color: $green-darkest;
    text-decoration: none;
  }

  a:hover {
    color: $green-mint;
  }
  // text-decoration: none;

}
