.giant-header {
  font-size: 50px;
}

.margin-head {
  margin-bottom: 40px;
}

.booking-card {
  display:flex;
  margin-bottom: 30px;
}

.booking-card p {
  margin: auto 0;
  padding-left: 20px;
}

.edit_btn {
  margin-right: 10px;
}


.tool_image {
  border-radius: 2px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
  max-height: 250px;
}

#margin-main {
  margin-top: 30px;
}

.map-styling {
  width: 100%;
  height: 350px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.left {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 30px;
  position: relative;
  padding: 30px 40px;
  padding-right: 30px;
}

.left p {
  font-size: 15px;
}

.price {
  position: absolute;
  bottom: 5px;
}
// .map-info-container {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }

// .header-and-image {
//   display: flex;
//   justify-content: space-between;
// }

// .map-container {
//   width: 40%;
// }

// .tool-descr {
//   width: 60%;
// }











