<div class="container mbot-40 min-height">
  <h1>Tools I Booked</h1>
  <% @own_bookings.each do |booking| %>
    <%= render 'shared/booking_card', booking: booking%>
  <% end %>

  <h1 class="mtop-20">Bookings For My Tools</h1>
  <% @user_tool.each do |booking| %>
    <%= render 'shared/booking_card', booking: booking%>
  <% end %>
</div>
