<div class="container mtop-5">
  <h1>Your Bookings</h1>

  <% @own_bookings.each do |booking| %>
    <div>
      <div class="card-tool-image" style="background-image: url('<%= cl_image_path booking.tool.photo, height: 300, width: 400, crop: :fill %>')"></div>
      <p><%= booking.tool.name %></p>
      <p></p>
      <p>Owner: <%= booking.tool.user.first_name %></p>
    </div>

  <% end %>
</div>
