<div class="footer">
  <div class="container d-flex justify-content-between">
    <p>© Copyright 2020 | Otto, Marie, Joris & Paul</p>
    <p>Imprint    |    Terms    |    Coockies    |    Privacy Policy    |    Site Map</p>
  </div>

</div>
