.button {
  padding: 5px 20px;
  background-color: $green-mint;
  color: white;
}

.button:hover {
  color: white;
  background-color: #479e77;

}

.line-of-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background-color: white;
  border-radius: 4px;
}

.button-unselected {
  background-color: rgb(244, 244, 244);
  color: $green-darkest;
}
