.footer {
  background-color: white;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 12px;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  clear: both;
  position: relative;
}
